body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* HEADER & NAVIGATION */

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  background-color: black;
}

.logo {
  padding: 10px;
  height: 50px;
}

.logoholder {
  flex-grow: 1;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 10px 30px;
}

/* MAIN CONTENT */

/* mission */

.content {
  margin: auto;
  display: relative;
  padding-top: 61px;
}

.mission {
  background: url("../media/img-mission-background.jpg");
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  height: 700px;
  width: 1200px;
  text-align: center;
  justify-content: center;
}

content {
  background: black;
}

/* Tea of the Month */

.month {
  margin: 0 auto;
  width: 1000px;
  padding-top: 50px;
  text-align: center;
}

.offer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.berry {
  padding: 0 15px;
}

.rumtea {
  padding: 0 15px;
}

.donuts {
  padding: 0 15px;
}

.avetea {
  padding: 0 15px;
}

.bedford {
  padding: 0 15px;
}

.offer h4 {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Locations */

.locations {
  background: url('../media/img-locations-background.jpg');
  display: flex;
  flex-flow: column;
  margin: 40px auto 0 auto;
  height: 500px;
  width: 1200px;
  justify-content: center;
  align-items: center;
}

.locations h2 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}

.boxes {
  display: flex;
  flex-flow: row;
}

.locationbox {
  display: flex;
  flex-flow: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 20px;
}

.locationbox span {
  padding: 20px 0;
}

/* Contact */

.contact {
  text-align: center;
  height: 200px;
}

/* Footer */

footer {
  margin-left: 20px;
}
